.product-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ffcdd2;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px #e57373;
  width: 300px;
}

.product-card button {
  width: 60%;
  margin-bottom: 20px;
  margin-top: auto;
  align-self: center;
}

.product-image {
  width: 60%;
  height: 200px;
  object-fit: cover;
  align-self: center;
}

.product-info {
  padding: 16px;
}

.product-info p {
  color: #c62828;
  font-size: 14px;
}
